body {
  font-family: "Roboto", sans-serif;
  background: #acdcee;
}

h1,
h2.greeting,
h2.day-time,
li.current-temp,
div.forecast {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
div.forecast {
  margin-top: 50px;
}

p.weather-description,
span.humidity,
span.wind {
  font-size: 25px;
}

h2.greeting,
div.forecast {
  text-align: center;
}

span.humidity,
span.wind {
  line-height: 25px;
  margin-left: 125px;
}

li.current-temp,
.search-bar,
.search-button {
  margin-top: 25px;
}

p.weather-description,
div.forecast-description {
  text-transform: capitalize;
}

div.forecast-description,
span.forecast-low-temperature {
  opacity: 0.7;
}

div.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  border: 1px solid white;
  border-radius: 10px;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
}

h2.greeting {
  font-weight: bolder;
}

p.weather-description {
  line-height: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li.current-temp {
  font-size: 45px;
  margin-left: 100px;
}

div.forecast {
  font-size: 20px;
}

small.project-description {
  position: relative;
  top: 75px;
  left: -45px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.current-city-button {
  position: relative;
  top: 25px;
  right: 150px;
}
